.container {
    max-width: 1200px;
}

.container-fluid {
    padding-left: 90px;
    padding-right: 90px;
    @media #{$desktopdown} {
        padding: 0 40px;
    }
}

.container {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: auto
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    @media #{$tablet, $phone} {
        margin: 1% 0 1% 0%;
    }
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF TWELVE  */

.col_12 {
    width: 100%;
}

.col_11 {
    width: 91.53%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_10 {
    width: 83.06%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_9 {
    width: 74.6%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_8 {
    width: 66.13%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_7 {
    width: 57.66%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_6 {
    width: 49.2%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_5 {
    width: 40.73%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_4 {
    width: 32.26%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_3 {
    width: 23.8%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_2 {
    width: 15.33%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

.col_1 {
    width: 6.866%;
    @media #{$tablet, $phone} {
        width: 100%;
    }
}

#theme-wrapper {
    @include transition( all 500ms cubic-bezier(0.25, .1, .25, 1));
    @include transition-timing-function(cubic-bezier(0.25, .1, .25, 1));
    min-height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    &.side-menu {
        left: -260px
    }
}
